
body {
  background-image: url("images/darkcrystal/bg.webp");
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.top-box.lg {
  position: relative;
  left: 300px;
  top: 60px;
  width: 50vw;
  height: calc(20vw * .8723);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: 0;

  /* border: .2px solid deeppink; */
}

.top-box.lg .top-img {
  position: relative;
  left: -80px;
  width: 20vw;
  /* border: solid blue; */
}

.top-box.lg .helpful {
  width: 180px;
  height: 100px;
  margin: 0;
  color: #9ff;
  font-size: .9em;
  font-style: italic;
  text-align: right;
  padding: 0 1em;
  min-height: 2em;
  /* border: solid 4px peru; */
}

.bottom-box.lg {
  position: absolute;
  /* bottom: 70vh; */
  top: 40px;
  left: -5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
  width: 100vw;
  margin: auto;
  /* border: solid 3px #9ff; */
}

.bottom-box.lg .bottom-img1 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  /* border: .3px solid #9ff; */
  filter: brightness(150%);
  padding-right: 1em;;

}
.bottom-box.lg .bottom-img2 {
  width: 110px;
  height: 110px;
  position: relative;
  left: 1.3em;
  border-radius: 50%;
  /* border: .3px solid #9ff; */
  filter: brightness(180%);
}
.bottom-box.lg .bottom-img3 {
  display: none;
}
