
body {
  background-image: url("images/darkcrystal/bg.webp");
  background-size: cover;
  width: 100vw;

  margin: 0;
  padding: 0;
}

.top-box.lg {
  display: block;
  width: 20vw;
  height: calc(20vw * .8723);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;

  border: .2px solid deeppink;
}

.top-box.lg .top-img {
  width: 80%;
  border: solid blue;
}

.top-box.sm, .top-box.lg {
  display: none;
}



.top-box.lg .helpful {
  width: 80px;
  margin: 0;
  color: #9ff;
  font-size: .7em;
  font-style: italic;
  min-height: 2em;
  border: solid 4px peru;
}

.bottom-box.lg {
  position: absolute;
  bottom: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
  width: 100vw;
  margin: auto;
  /* border: solid 3px #9ff; */
}

.bottom-box.lg .bottom-img1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* border: .3px solid #9ff; */
  filter: brightness(150%);
  padding-right: 1em;;

}
.bottom-box.lg .bottom-img2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* border: .3px solid #9ff; */
  filter: brightness(180%);
}
.bottom-box.lg .bottom-img3 {
  display: none;
}
