
body {
  background-image: url("images/darkcrystal/dcbg.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.top-box.lg {
  display: block;
  width: 20vw;
  height: calc(20vw * .8723);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;

  /* border: .2px solid deeppink; */
}

.top-box.lg .top-img {
  width: 100%;
  /* border: solid blue; */
}

.top-box.sm, .top-box.med {
  display: none;
}





/* 
.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
} */


/* .bg-sm {
  display: none;
  z-index: -1;
  position: fixed;
  width: 60vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}
.bg-med {
  display: none;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}
.bg-lg {
  display: block;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
} */

