
body {
  background-image: url("images/feet-up-cube-full-height.png");
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.top-box.med {
  display: block;
  width: 80vw;
  height: calc(50vw * .233);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1.5em auto;
  padding: 0;
  transform: rotate(-4deg);

  border: .2px solid green;
}

.top-box.med .top-img {
  width: 70%;
  /* border: solid white; */
}

.top-box.med .helpful {
  width: 80px;
  margin: 0;
  color: #9ff;
  font-size: .7em;
  font-style: italic;
  min-height: 2em;
  border: solid 4px peru;
}

.bottom-box.med {
  position: absolute;
  bottom: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
  width: 100vw;
  margin: auto;
  /* border: solid 3px #9ff; */
}

.bottom-box.med .bottom-img1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* border: .3px solid #9ff; */
  filter: brightness(150%);
  padding-right: 1em;;

}
.bottom-box.med .bottom-img2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* border: .3px solid #9ff; */
  filter: brightness(180%);
}
.bottom-box.med .bottom-img3 {
  display: none;
}
