
body {
  background-image: url("images/feet-up-cube-full-height.png");
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.top-box.med {
  display: block;
  width: 60vw;
  height: calc(60vw * .233);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transform: rotate(-4deg);

  border: .2px solid green;
}

.top-box.med .top-img {
  width: 100%;
  border: solid white;
}

.top-box.sm, .top-box.lg {
  display: none;
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}


/* .bg-sm {
  display: none;
  z-index: -1;
  position: fixed;
  width: 60vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
} */
/* .bg-med {
  display: none;
  z-index: -1;
  position: fixed;
  width: 660vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}
.bg-lg {
  display: none;
  z-index: -1;
  position: fixed;
  width: 660vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}

.title {
  color: #9f3f;
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
  margin: 0;
  /* border: .2px solid #9f3f; */
} */
