
body {
  background-image: url("images/feet-up-cube-full-height.png");
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.top-box.med {
  display: block;
  width: 80vw;
  height: calc(50vw * .233);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.5em auto;
  padding: 0;
  transform: rotate(-4deg);

  /* border: .2px solid green; */
}

.top-box.med .top-img {
  width: 70%;
  /* border: solid white; */
}

.popup {
  display: none;
  height: 80px;
  width: 80px;
  /* border: solid red; */
}
.top-box.med .popup {
  display: none;
  position: absolute;
  top: 150px;
  width: 400px;
  height: fit-content;
  font-size: .8em;
  background-color: #223b;
  padding: 1em;
  color: #ffaf;
  transform: rotate(4deg);
}

.hoverable:hover .popup {
  display: block;
}

.top-box.med .helpful {
  width: 150px;
  margin: 0;
  color: #9ff;
  font-size: .7em;
  font-style: italic;
  min-height: 2em;
  /* border: solid 4px peru; */
}

.bottom-box.med {
  position: absolute;
  bottom: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99vw;
  margin: auto;
  /* border: solid 3px #9ff; */
}

.bottom-box.med .bottom-img1 {
  position: absolute;
  top: -110px;
  right: 9vw;
  width: 15vw;
  height: 15vw;
  border: .5px inset #9ff;
  filter: brightness(150%);
  margin: 1em;
  transform: rotate(-15deg);
  
}
.bottom-box.med .bottom-img2 {
  position: absolute;
  top: 10px;
  left: 13vw;
  width: 18vw;
  height: 18vw;
  border: .5px inset #9f4;
  filter: brightness(180%);
  margin: 1em;
  transform: rotate(11deg);
}
