body {
  background-image: url("images/fifties-lesslong.png");
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.top-box {
  width: 60%;
  height: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transform: rotate(0deg);

  /* border: .2px solid deeppink; */
}

.top-img.sm {
  color: #9f3f;
  padding: 1em;
  width: 80vw;
  height: calc(80vw * .1698);

  /* border: solid deeppink; */
}




