body {
  background-image: url("images/fifties-lesslong.png");
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.top-box.sm {
  display: block;
  width: 60vw;
  height: calc(60vw * .233);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;

  /* border: .2px solid yellowgreen; */
}

.top-box.med, .top-box.lg {
  display: none;
}

.top-box.sm .top-img {
  padding: 1em;
  width: 80vw;
  height: calc(80vw * .1698);

  /* border: solid deeppink; */
}




